@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Share Tech Mono", monospace;
}
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.blinking-cursor {
    display: inline-block;
    animation: blink 1.5s step-start infinite;
}
